<%- include("header"); -%>

<form method="POST">
  <ul>
    <!-- <li><label for="domain">Domain (e.g. www.google.com)</label><input type="text" name="domain" placeholder="your.domain.com" required /></li> -->
    <li>
      <select name="site_id" id="site-select">
        <option value="">--Please choose a site--</option>
        <% domains.forEach(function(domain){ %>
          <option value="<%= domain.id %>"><%= domain.domain %></option>
        <% }); %>
      </select>
    </li>
    <li><label for="thankText">The text thanking the user for the rating</label><textarea name="thankText" rows="5" cols="20" required></textarea></li>
    <li><label for="reviewSiteName">The name of the review site</label><input type="text" name="reviewSiteName" placeholder="Yelp reviews" required /></li>
    <li><label for="reviewSiteUrl">The web address of the review site</label><input type="text" name="reviewSiteUrl" placeholder="https://www.yelp.com/" required /></li>
    <li><label for="reviewThreshold">The threshold for asking the user to submit a review.</label><input type="number" name="reviewThreshold" value="5" required /></li>
    <li><label for="startDate">Start date</label><input type="date" name="start" required /></li>
    <li><label for="finishDate">Finish date</label><input type="date" name="finish" required /></li>
  </ul>
  <input type="submit" value="Add">
</form>
</ul>

<%- include("footer"); -%>
