<%- include("header"); -%>

<h1>Welcome to EasyReview!</h1>

<h2>
  Having problems getting a review on Yelp, Google, TrustPilot...? We can help.
</h2>

<a href="/signup">Sign-up now</a>

<%- include("footer"); -%>
