<html>
  <head>
    <title>Login page</title>
  </head>
  <body>
    <h3><% if(locals.message) { locals.message } %></h3>
    <form method="post">
      email address: <input type="text" name="email" placeholder="email" required><br>
      Password: <input type="password" name="password" placeholder="password" required><br></a>
    <input type="submit" value="Login"></form>
  </body>
</html>
