<%- include("header"); -%>

<form method="post">
  Email address: <input type="text" name="email" placeholder="email"><br>
Password: <input type="password" name="password" placeholder="password"><br></a>
<input type="submit" value="Join"></form>

<%- include("footer"); -%>
